---
import Grid from '../components/post/grid.astro'
import { getPostBySlug, getPosts } from '../api/post'
import type { Category } from '../api/category'
import { getPageNumberInUrl } from '../utils/pagination'
import { POSTS_PER_PAGE } from '../constant'
import Pagination from '../components/pagination.astro'
import PageTitle from '../components/ui/pageTitle.astro'

const lang = Astro.currentLocale as string
const category: Category = Astro.props.node

// Handle Pagination & Filters
const page = getPageNumberInUrl(Astro.url)
const filters = `&categories=${category?.id}&orderby=date&order=desc&per_page=${POSTS_PER_PAGE}&page=${page}`
const postsBySlug = await getPosts(lang, filters)
const promises = postsBySlug.map(async (post) => await getPostBySlug(post.slug, lang))
const posts = await Promise.all(promises)
---

<div class="flex flex-col gap-8">
  <div>
    <PageTitle className="mb-2">{category.name}</PageTitle>
    {
      category.description && (
        <div class="prose prose-stone dark:prose-invert">
          <div set:html={category.description} />
        </div>
      )
    }
  </div>
  <Grid posts={posts} />
  <Pagination
    total={category.count}
    perPage={POSTS_PER_PAGE}
    currentPage={page}
    baseUrl={`/${category.slug}`}
  />
</div>
