---
import Grid from '../components/post/grid.astro'
import { getPostBySlug, getPosts, type Post } from '../api/post'
import { useTranslations } from '../i18n/ui'
import type { Category } from '../api/category'
import { getPageNumberInUrl } from '../utils/pagination'
import { POSTS_PER_PAGE } from '../constant'
import Pagination from '../components/pagination.astro'

const lang = Astro.currentLocale as string
const t = useTranslations(lang)
const node: Category = Astro.props.node

// Handle Pagination & Filters
const page = getPageNumberInUrl(Astro.url)
const filters = `&categories=${node?.id}&orderby=date&order=desc&per_page=${POSTS_PER_PAGE}&page=${page}`
const postsBySlug = await getPosts(lang, filters)
let posts: Post[] = []
await Promise.all(
  postsBySlug.map(
    async (post) =>
      await getPostBySlug(post.slug, lang).then((post: Post | null) => {
        if (post) posts.push(post)
      })
  )
)
---

<div class="space-y-8">
  <h1 class="text-xl font-bold">{t('category.grid.title')} {node.name}</h1>
  <Grid posts={posts} />
  <Pagination
    total={node.count}
    perPage={POSTS_PER_PAGE}
    currentPage={page}
    baseUrl={`/${node.slug}`}
  />
</div>
