---
import type { Page } from '../api/page'
import { Image } from 'astro:assets'
import ipadMockup from '../images/ipad-mockup.png'
import { getCommentsForPost } from '../api/comment'
import { decode } from 'html-entities'

const lang = Astro.currentLocale as string

interface ACF extends Page {
  acf: {
    content_title: string
    content_formats: string
    content_version: string
    content_intro: string
    content_intro_bis: string
    content_the_content: string
    content_image: {
      url: string
      alt: string
      width: number
      height: number
    }
    content_author: {
      author_description: string
      author_image: {
        url: string
        alt: string
        width: number
        height: number
      }
    }
    content_faq: string
  }
}

type Props = {
  node: ACF
}

const { node: page }: Props = Astro.props

// Todo : Override Yoast SEO Schema ? The current one doesn't know the page is a product.
// Todo : Override Layout. This Landing Page should not use the default layout.
// Todo : Comment for testimonials.
// Todo : CTA and Stripe Checkout.
// Todo : Conversion Tracking

const title = page.acf.content_title
const formats = page.acf.content_formats
const version = page.acf.content_version

const intro = page.acf.content_intro
const introBis = page.acf.content_intro_bis
const content = page.acf.content_the_content

const image = page.acf.content_image

const author = page.acf.content_author

const faq = page.acf.content_faq

const comments = await getCommentsForPost(page.id, lang)

// Those note are proper to my use case. We account for previous reviews received on Gumroad before moving awayt from the plateform.
let aggregateRating = 4.9
let reviewsCount = 16

comments?.map((comment) => {
  aggregateRating = (aggregateRating + comment.meta.product_rating) / 2
  reviewsCount += 1
})

aggregateRating = Math.round(aggregateRating * 100) / 100
---

<div
  class="mx-auto flex flex-col justify-start space-y-8 px-6 lg:container md:px-8 lg:flex-row lg:space-x-12 xl:space-x-24 2xl:space-x-48"
>
  {/* Desktop Left column */}
  <div
    class="mx-auto flex max-w-[460px] shrink-0 flex-col justify-start space-y-8 lg:sticky lg:top-0 lg:h-screen lg:justify-center lg:space-y-12 xl:max-w-[550px]"
  >
    <div class="space-y-4 xl:space-y-8">
      {/* Title */}
      {
        title && (
          <>
            <h1 class="text-center text-2xl font-extrabold dark:text-vanille lg:text-left 2xl:text-4xl">
              {title}
            </h1>
            <span class="block text-center">
              Written by&nbsp;<span class="font-bold italic">Sarah Lagache</span>
            </span>
          </>
        )
      }
      {/* Metas */}
      {
        (formats || version || aggregateRating) && (
          <>
            <div class="flex items-center justify-center gap-2">
              {formats && (
                <div class="mr-2 inline-block rounded-full bg-framboise px-4 py-1 text-center text-xs font-bold uppercase text-black">
                  {formats}
                </div>
              )}

              {aggregateRating && reviewsCount && (
                <div class="mr-2 flex items-center justify-center gap-1 rounded-full bg-vanille px-4 py-1 text-center text-xs font-bold uppercase text-black ">
                  <svg
                    class="me-1 h-3 w-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 22 20"
                  >
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                  </svg>
                  <span>{aggregateRating}</span>
                  <span class="mx-1.5 h-1 w-1 rounded-full bg-stone-900" />
                  <span>{reviewsCount} reviews</span>
                </div>
              )}

              {version && (
                <div class="inline-block rounded-full bg-pistache px-4 py-1 text-center text-xs font-bold uppercase text-black">
                  {version}
                </div>
              )}
            </div>
          </>
        )
      }
    </div>
    {/* Mobile Intro */}
    {
      intro && (
        <div
          class="prose prose-stone mx-auto text-center dark:prose-invert lg:hidden lg:text-left"
          set:html={intro}
        />
      )
    }
    {/* Mobile Ipad */}
    {
      image && (
        <div class="relative mx-auto max-w-[450px] lg:hidden">
          <Image
            src={image.url}
            alt={image.alt || title}
            width={image.width}
            height={image.height}
            densities={[1.5, 2]}
            loading="lazy"
            class="absolute z-10 h-auto w-full scale-[0.92] rounded-3xl"
          />
          <Image
            src={ipadMockup}
            alt="Ebook on Ipad"
            width={ipadMockup.width}
            densities={[1.5, 2]}
            loading="lazy"
            class="relative z-10 max-w-full"
          />
        </div>
      )
    }
    {/* Desktop Intro */}
    {
      intro && (
        <div
          class="prose prose-stone mx-auto hidden dark:prose-invert lg:block lg:text-left"
          set:html={intro}
        />
      )
    }
    {/* Intro Bis */}
    {
      introBis && (
        <div
          class="prose prose-stone mx-auto text-center dark:prose-invert lg:text-left "
          set:html={introBis}
        />
      )
    }
  </div>
  {/* End Desktop Left column */}
  {/* Desktop Right column */}
  <div class="mx-auto flex max-w-[450px] flex-col justify-start gap-8 lg:max-w-none lg:gap-12">
    {/* Separator */}
    <i class="icon-ermine mx-auto text-xl lg:hidden"> </i>

    {/* Desktop Ipad */}
    {
      image && (
        <div class="relative mx-auto hidden max-w-[450px] lg:block">
          <Image
            src={image.url}
            alt={image.alt || title}
            width={image.width}
            height={image.height}
            densities={[1.5, 2]}
            loading="lazy"
            class="absolute z-10 h-auto w-full scale-[0.92] rounded-3xl"
          />
          <Image
            src={ipadMockup}
            alt="Ebook on Ipad"
            width={ipadMockup.width}
            densities={[1.5, 2]}
            loading="lazy"
            class="relative z-10 max-w-full"
          />
        </div>
      )
    }

    {/* The Content */}
    {
      content && (
        <>
          <h3 class="mark mx-auto inline-block text-xl font-bold">The Content</h3>
          <div class="prose prose-stone dark:prose-invert" set:html={content} />
        </>
      )
    }

    {/* Separator */}
    <i class="icon-ermine mx-auto text-xl"> </i>

    {/* Testimonials */}
    {
      comments.length > 0 && (
        <>
          <div class="flex flex-col items-center gap-3">
            <h3 class="mark mx-auto inline-block text-xl font-bold">Testimonials</h3>
            <div class="flex flex-row items-center justify-center gap-1 font-bold">
              <svg
                class="me-1 h-4 w-4 text-vanille"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
              </svg>
              <span>{aggregateRating}</span>
              <span class="mx-1.5 h-1 w-1 rounded-full bg-stone-500 dark:bg-stone-50" />
              <span>{reviewsCount} reviews</span>
            </div>
          </div>

          <div class="grid gap-8 xl:grid-cols-2">
            {comments.map((comment) => (
              <div class="flex items-center justify-center rounded-lg bg-stone-100 p-6 shadow dark:bg-stone-800">
                <div class="flex flex-col items-center gap-3">
                  {comment.meta.product_rating && (
                    <div class="flex flex-row items-center justify-center">
                      {new Array(comment.meta.product_rating).fill(0).map(() => {
                        return (
                          <svg
                            class="me-1 h-4 w-4 text-vanille"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 22 20"
                          >
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                          </svg>
                        )
                      })}
                    </div>
                  )}
                  <blockquote
                    class="text-center font-medium italic"
                    set:html={comment.content.rendered}
                  />
                  <figcaption class="text-center font-bold dark:text-vanille">
                    {decode(comment.author_name)}
                  </figcaption>
                </div>
              </div>
            ))}
          </div>
        </>
      )
    }

    {/* Separator */}
    <i class="icon-ermine mx-auto text-xl"> </i>

    {/* Author */}
    {
      author.author_description && author.author_image && (
        <div class="flex flex-col items-center justify-center">
          <Image
            src={author.author_image.url}
            alt={author.author_image.alt || 'Sarah Lagache'}
            width={author.author_image.width / 2}
            height={author.author_image.height / 2}
            densities={[1.5, 2]}
            loading="lazy"
          />
          <div
            class="prose prose-stone text-center dark:prose-invert"
            set:html={author.author_description}
          />
        </div>
      )
    }

    {/* Separator */}
    <i class="icon-ermine mx-auto text-xl"> </i>

    {/* The FAQ */}
    {
      faq && (
        <>
          <h3 class="mark mx-auto inline-block text-xl font-bold">FAQ</h3>
          <div class="prose prose-stone dark:prose-invert" set:html={faq} />
        </>
      )
    }
  </div>
</div>
