---
import '@wordpress/block-library/build-style/common.css'
import '@wordpress/block-library/build-style/style.css'
import '@wordpress/block-library/build-style/theme.css'
import { Image } from 'astro:assets'
import type { Post } from '../api/post'
import type { Tag as TagType } from '../api/tag'
import type { Category as CategoryType } from '../api/category'
import BadgeTag from '../components/tag/badgeTag.astro'
import BadgeCategory from '../components/category/badgeCategory.astro'
import parseHtml from '../utils/parser'
import { getMediaById } from '../api/media'
import { getLangFromUrl } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const post: Post = Astro.props.node
const featuredImage = await getMediaById(post.featured_media, lang)
---

<div class="mb-12 space-y-2">
  <h1 class="text-center text-2xl">{post.title.rendered}</h1>

  <p class="text-center text-sm italic">
    Posted on <time datetime={post.date}>{new Date(post.date).toLocaleDateString()}</time>
  </p>
  <!-- 
    Display tags and categories links if post has terms
    ['wp:term'][1] refers to tag 
  -->
  <div class="flex items-center justify-center gap-4">
    {post._embedded['wp:term'][1]?.map((tag: TagType) => <BadgeTag tag={tag} />)}
    {
      post._embedded['wp:term'][0]?.map((category: CategoryType) => (
        <BadgeCategory category={category} />
      ))
    }
  </div>
</div>

{
  featuredImage && (
    <Image
      src={featuredImage.source_url}
      alt={featuredImage.alt_text}
      width={featuredImage.media_details.width}
      height={featuredImage.media_details.height}
      class="mx-auto mb-12 h-auto max-w-full rounded lg:max-w-prose"
    />
  )
}

<article
  class="prose prose-stone mx-auto dark:prose-invert"
  set:html={parseHtml(post.content.rendered)}
/>
