---
import type { Post } from '../api/post'
import type { Tag } from '../api/tag'
const node: Post = Astro.props.node
---

<h1>{node.title.rendered}</h1>
<!-- Display tags links if node has terms -->
<!-- {
  node.tags
    ? node?.tags?.nodes.map((tag: Tag) => (
        <a class="term-link" href={tag.uri}>
          {tag.name}
        </a>
      ))
    : null
} -->
<!-- Only show date if node is a Post -->
{
  node.type === 'post' ? (
    <p class="post-details">
      Posted on <time datetime={node.date}>{new Date(node.date).toLocaleDateString()}</time>
    </p>
  ) : null
}
<img
  class="featured-image"
  src={node._embedded['wp:featuredmedia'][0]?.source_url}
  srcset={node._embedded['wp:featuredmedia'][0]?.source_url}
  alt={node._embedded['wp:featuredmedia'][0]?.alt_text}
  width={node._embedded['wp:featuredmedia'][0]?.mediaDetails?.width}
  height={node._embedded['wp:featuredmedia'][0]?.mediaDetails?.height}
/>

<article set:html={node.content.rendered} />
