---
import Card from '../components/post/card.astro'
import type { Tag } from '../api/tag'
import type { Post } from '../api/post'
import { getPosts } from '../api/post'
import { getLangFromUrl } from '../i18n/utils'
import { getPageNumberInUrl } from '../utils/pagination'
import { POSTS_PER_PAGE } from '../constant'
import Pagination from '../components/pagination.astro'

const lang = getLangFromUrl(Astro.url)
const node: Tag = Astro.props.node

// Handle Pagination & Filters
const page = getPageNumberInUrl(Astro.url)
const filters = `&tags=${node?.id}&per_page=${POSTS_PER_PAGE}&page=${page}`

const posts = await getPosts(lang, filters)
---

<h1>{node.name} - Archive</h1>

<div class="grid grid-cols-3 gap-4">
  {
    posts.map((post: Post) => {
      return <Card post={post} />
    })
  }
</div>

<Pagination
  total={node.count}
  perPage={POSTS_PER_PAGE}
  currentPage={page}
  baseUrl={`/tag/${node.slug}`}
/>
