---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getThemeOptions } from '../../api/options'
import { primaryMenu } from '../../constant'
import { useTranslations } from '../../i18n/ui'

const lang = Astro.currentLocale as string
const glaceOptions = await getThemeOptions(lang)
const primaryMenuForLang = primaryMenu.find((item) => item.lang === lang)?.items
const t = useTranslations(lang)
---

<div class="flex h-full flex-col items-stretch">
  <div class="prose prose-stone shrink-0 rounded-bl-3xl bg-vanille p-8 text-sm">
    <div class="flex items-center justify-between">
      <a href={getRelativeLocaleUrl(lang, '/')}><i class="icon-home h-6 w-6"></i></a>
      <button type="button" toggle-drawer class="icon-close h-6 w-6"></button>
    </div>
    <div
      id="off-canvas-additionals-info"
      class="transition-max-h max-h-96 duration-300 ease-in-out"
    >
      <div set:html={glaceOptions.introduction} />
      <div class="flex items-center gap-2">
        <span>{t('offCanvas.socialLinks.title')}</span>
        <a href={glaceOptions.facebook} title={t('socialLinks.facebook.alt')}
          ><i class="icon-facebook h-4 w-4"></i></a
        >
        <a href={glaceOptions.instagram} title={t('socialLinks.instagram.alt')}
          ><i class="icon-instagram h-4 w-4"></i></a
        >
        <a href={glaceOptions.pinterest} title={t('socialLinks.pinterest.alt')}
          ><i class="icon-pinterest h-4 w-4"></i></a
        >
        <a href={glaceOptions.twitter} title={t('socialLinks.twitter.alt')}
          ><i class="icon-twitter h-4 w-4"></i></a
        >
      </div>
    </div>
  </div>
  <div id="off-canvas-bottom" class="grow-1 overflow-y-scroll p-8">
    <div class="flex flex-col items-start gap-8">
      {
        primaryMenuForLang?.map((item) => {
          return (
            <a
              href={getRelativeLocaleUrl(lang, item.slug)}
              class="group relative flex gap-2 text-xl focus:outline-none"
            >
              <span class="absolute -right-2 -top-2 hidden h-2 w-2 rounded-full bg-vanille group-hover:block group-focus:block" />
              <i class={`icon-${item.icon}`} />
              {item.title}
            </a>
          )
        })
      }
    </div>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod pretium mauris.
    Quisque nec augue convallis, pellentesque turpis non, luctus metus. Duis quis vehicula justo, a
    laoreet est. Pellentesque sodales diam turpis, ac euismod eros facilisis at. Etiam in auctor
    nisi, vitae varius enim. Donec faucibus, libero eu blandit pharetra, leo nisl aliquet justo,
    eget sollicitudin libero nunc fringilla risus. Maecenas nec quam quis odio porttitor molestie.
    Morbi venenatis lacinia risus aliquam ultrices. Vestibulum a aliquet ex, ac porta mauris.
    Phasellus non tortor id libero aliquet varius. Integer viverra dolor eget lectus venenatis
    efficitur. Vestibulum condimentum suscipit sapien ut posuere. Integer tristique sagittis felis
    id rhoncus. Proin fermentum fermentum consequat. Cras eget lobortis orci. Curabitur semper eget
    ex id placerat. Fusce vel ornare ex. Fusce facilisis placerat urna, et molestie diam auctor a.
    Mauris mauris sem, fermentum et dictum egestas, aliquam vel erat. Nulla pulvinar ipsum eget ex
    ornare porta ut ac velit. Nam feugiat consectetur massa a lobortis. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Vivamus ullamcorper eros neque, ac auctor urna imperdiet quis.
    Quisque quis dignissim lectus. Aliquam nec massa tempus, interdum odio id, sodales elit.
    Suspendisse potenti. Nunc vel luctus diam. Phasellus posuere ultricies interdum. Sed tempus
    lacus sit amet eros posuere laoreet. Nunc ut hendrerit magna, iaculis scelerisque nibh. Aliquam
    eu neque tempor, facilisis neque ac, vehicula massa. Praesent efficitur orci nisi, eget aliquet
    risus volutpat imperdiet. Nulla facilisi. Curabitur sit amet interdum justo, ac tincidunt ante.
    Duis sed mauris quam. Duis ut velit vitae nisi tristique congue at et nisi. Nulla dapibus
    rhoncus enim, sit amet finibus eros tincidunt a. Mauris aliquet elit erat, sed fringilla est
    consectetur at. Morbi molestie lectus et suscipit ullamcorper. Praesent molestie massa in dolor
    varius, quis tincidunt nibh lobortis. Maecenas et risus ipsum. Donec accumsan at lectus ut
    lobortis. Donec sed quam non augue efficitur vulputate. Vestibulum suscipit tincidunt tellus in
    aliquet. Morbi nec mauris eget neque ultricies viverra ultrices pretium ipsum. Sed eu tellus ut
    velit fermentum accumsan. Vivamus rhoncus at tellus id posuere. Praesent vel ultrices justo.
    Vivamus ultricies, nisi vitae porta consectetur, mauris enim iaculis dolor, id cursus lectus
    elit quis erat. Integer malesuada pretium lacus luctus sodales. Morbi vel diam nec tellus
    pulvinar tempor vel interdum augue. Mauris commodo neque dui, in pharetra ex dignissim et.
    Suspendisse tristique turpis sed accumsan pellentesque. Aenean tincidunt elit id dignissim
    sodales. Nunc a fringilla est. Proin sed nibh et ipsum rutrum volutpat. Cras venenatis maximus
    augue, interdum porta nibh lobortis ut. Integer hendrerit tincidunt convallis. Integer nisi
    ligula, convallis a commodo in, consectetur ac felis. Donec rutrum metus id enim dapibus, quis
    aliquam augue viverra. Aenean volutpat, velit nec efficitur rhoncus, sem massa egestas ligula,
    et scelerisque leo leo in neque. Curabitur sed risus cursus, aliquet dolor nec, tincidunt neque.
    Aliquam porttitor ullamcorper dictum.
  </div>
</div>

<script is:inline>
  let bottom = document.getElementById('off-canvas-bottom')
  let additionalInfos = document.getElementById('off-canvas-additionals-info')
  if (bottom !== null) {
    bottom.addEventListener('scroll', function () {
      if (bottom !== null && additionalInfos !== null) {
        if (bottom.scrollTop >= 5) {
          additionalInfos.classList.remove('max-h-96')
          additionalInfos.classList.add('max-h-0', 'overflow-y-hidden')
        } else if (bottom.scrollTop === 0) {
          additionalInfos.classList.add('max-h-96')
          additionalInfos.classList.remove('max-h-0', 'overflow-y-hidden')
        }
      }
    })
  }
</script>
