---
import ebookImage from '../../images/bg-buy-ebook-image.webp'
import { getThemeOptions } from '../../api/options'
import { replaceUrls } from '../../utils/parser'

const lang = Astro.currentLocale as string
const glaceOptions = getThemeOptions(lang)
---

<div
  astro-banner-ebook
  class="not-prose relative w-full gap-2 rounded-lg border border-vanille bg-beige text-black dark:border-vanille/50 dark:bg-stone-800 dark:text-stone-50 md:flex md:items-stretch md:gap-4"
>
  <div
    class="h-48 bg-cover bg-bottom bg-no-repeat md:h-auto md:w-1/3 md:bg-right"
    style={`background-image: url('${ebookImage.src}');`}
  >
  </div>
  <div class="space-y-4 p-8 text-center md:w-2/3 md:text-left">
    <h3
      class="text-xl font-extrabold leading-normal"
      set:html={glaceOptions.ebook.banners.buy.title}
    />

    <div set:html={glaceOptions.ebook.banners.buy.content} />
    <a
      href={replaceUrls(glaceOptions.ebook.banners.buy.button.link.url)}
      title={glaceOptions.ebook.banners.buy.button.link.title}
      target={glaceOptions.ebook.banners.buy.button.link.target}
      class="flex w-full items-center justify-center rounded-sm bg-vanille px-4 py-4 text-center !font-bold text-stone-900 transition hover:-translate-y-1 hover:shadow-lg disabled:cursor-wait disabled:hover:translate-y-0 disabled:hover:shadow-none md:px-16"
    >
      <span>{glaceOptions.ebook.banners.buy.button.label}</span>
    </a>
  </div>
</div>
