---
import ebookImage from '../../images/bg-buy-ebook-image.webp'
import { useTranslations } from '../../i18n/ui'
import { getThemeOptions } from '../../api/options'
import { replaceLinks } from '../../utils/parser'

const lang = Astro.currentLocale as string
const t = useTranslations(lang)
const glaceOptions = await getThemeOptions(lang)
---

<div
  class="not-prose relative w-full gap-2 rounded-lg border border-vanille bg-beige text-black md:flex md:items-stretch md:gap-4"
>
  <div
    class="h-48 bg-cover bg-bottom bg-no-repeat md:h-auto md:w-1/3 md:bg-right"
    style={`background-image: url('${ebookImage.src}');`}
  >
  </div>
  <div class="space-y-4 p-8 text-center md:w-2/3 md:text-left">
    <h3 class="text-xl font-extrabold leading-normal" set:html={glaceOptions.banner_ebook_title} />

    <div set:html={glaceOptions.banner_ebook_content} />
    <a
      href={replaceLinks(glaceOptions.banner_ebook_button_link.url)}
      title={glaceOptions.banner_ebook_button_link.title}
      target={glaceOptions.banner_ebook_button_link.target}
      class="flex w-full items-center justify-center rounded bg-vanille px-4 py-4 text-center !font-bold text-stone-900 transition hover:-translate-y-1 hover:shadow-lg disabled:cursor-wait disabled:hover:translate-y-0 disabled:hover:shadow-none md:px-16"
    >
      <span>{glaceOptions.banner_ebook_button_label}</span>
    </a>
  </div>
</div>
