---
import { getRelativeLocaleUrl } from 'astro:i18n'

const lang = Astro.currentLocale as string
const { total, perPage, currentPage, baseUrl } = Astro.props
const totalPages = Math.ceil(total / perPage)
---

<ul class="flex flex-row justify-center gap-4">
  {
    [...Array(totalPages).keys()].map((page) => {
      const pageNumber = page + 1
      return (
        <li>
          {pageNumber === parseInt(currentPage) ? (
            <span class="bold flex h-8 w-8 items-center justify-center rounded-sm border border-black bg-black p-2 text-white dark:border-white dark:bg-white dark:text-black">
              {pageNumber}
            </span>
          ) : (
            <a
              class="flex h-8 w-8 items-center justify-center rounded-sm border border-black p-2 transition-all duration-200 hover:-translate-y-1 dark:border-white"
              href={
                pageNumber === 1
                  ? getRelativeLocaleUrl(lang, `${baseUrl}`)
                  : getRelativeLocaleUrl(lang, `${baseUrl}/page/${pageNumber}`)
              }
            >
              {pageNumber}
            </a>
          )}
        </li>
      )
    })
  }
</ul>
