---
const { post } = Astro.props
---

<article>
  <a class="" href={post.uri} aria-label={post.title}>
    <h3>{post.title}</h3>
    <section>
      <img
        src={post?.featuredImage?.node?.mediaItemUrl}
        alt={post?.featuredImage?.node?.altText}
        srcset={post?.featuredImage?.node?.srcSet}
        loading="lazy"
        width={post?.featuredImage?.node?.mediaDetails?.width}
        height={post?.featuredImage?.node?.mediaDetails?.height}
      />
    </section>
  </a>
</article>
