---
import { getLangFromUrl, useTranslatedPath } from '../../i18n/utils'
import FormattedDate from '../../components/formatedDate.astro'
import { Image } from 'astro:assets'

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)
const { post, isRelatedPost } = Astro.props
---

<a
  class="group flex flex-col gap-4 no-underline hover:underline"
  href={translatePath(`/${post.slug}`)}
  aria-label={post.title}
>
  {
    post.featured_media_data[0] && (
      <Image
        src={post.featured_media_data[0]}
        alt={
          post.featured_media_data['alt_text']
            ? post.featured_media_data['alt_text']
            : post.title.rendered
        }
        width={post.featured_media_data[1]}
        widths={[330, 480, 730]}
        loading={isRelatedPost ? 'lazy' : 'eager'}
        sizes={`(max-width: 360px) 330px, (max-width: 480px) 480px, (max-width: 480px) 480px, (max-width: 767px) 730px, (max-width: 1279px) 330px, 480px`}
        height={post.featured_media_data[2]}
        class="my-0 h-auto w-full rounded transition-shadow duration-300 group-hover:shadow-lg"
      />
    )
  }
  <h3 class="my-0 text-base font-bold">{post.title.rendered}</h3>
  <p class="text-center text-sm italic">
    Published on <FormattedDate date={post.date} />
  </p>
  <p class="text-center text-sm italic">
    Modified on <FormattedDate date={post.modified} />
  </p>
</a>
